n8n/workflows/aplazatoria-pendiente.json
{
  "name": "Leasing - Aplazatoria Pendiente (alerta equipo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aplazatoria-pendiente",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-ap-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "aplazatoria-pendiente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/1055022657703124/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"573044903559\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"equipo_alerta_aplazatoria\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $('Webhook').item.json.body.nombre_conductor }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $('Webhook').item.json.body.semana }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $('Webhook').item.json.body.motivo }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "http-ap-equipo",
      "name": "Meta - Alerta Equipo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ny3omGtGvljUDlzd",
          "name": "Meta WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message_id: $json.messages?.[0]?.id } }}",
        "options": {}
      },
      "id": "respond-ap",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Meta - Alerta Equipo", "type": "main", "index": 0}]]
    },
    "Meta - Alerta Equipo": {
      "main": [[{"node": "Responder OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
