n8n/workflows/equipo-alerta-solicitud-nueva.json
{
  "name": "Leasing - Equipo Alerta Solicitud Nueva",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "equipo-alerta-solicitud-nueva",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-equipo-alerta-solicitud-nueva",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "equipo-alerta-solicitud-nueva"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/1055022657703124/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"573044903559\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"equipo_alerta_solicitud_nueva\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('Webhook').item.json.body.nombre }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('Webhook').item.json.body.cedula }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('Webhook').item.json.body.telefono }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $('Webhook').item.json.body.link }}\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "http-equipo-alerta-solicitud-nueva",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DhiQkTptuaot52II",
          "name": "Meta WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message_id: $json.messages?.[0]?.id } }}",
        "options": {}
      },
      "id": "respond-equipo-alerta-solicitud-nueva",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}